{% extends "gallery/base.html" %}
{% load staticfiles %}

{% block head %}
    {% load staticfiles %}
    <title>[Astute] Gallery Analytics</title>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script type="text/javascript" src="{% static "gallery/js/graphs.js" %}"></script>
    <script type="text/javascript" src="{% static "gallery/js/analytics.js" %}"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script type="text/javascript">
        window.timeByDay = {{ timeByDay|safe }};
        window.trendTimes = {{ trendTimes|safe }};
        window.exhibitImages = {{ exhibitImages|safe }};
        window.detectionWidths = {{ detectionWidths|safe }};
    </script>
{% endblock %}

{% block header %}
    <h1>My Analytics</h1>
    <p>What is trending in your gallery?</p>
{% endblock %}

{% block links %}
    <a href="/exhibition/{{ exhibition.id }}/exhibits">Edit Exhibits</a>&nbsp;&nbsp;&nbsp;
    <a href="/exhibitions">Back to Exhibitions</a>&nbsp;&nbsp;&nbsp;
{% endblock %}

{% block content %}
    <section id="graphs">
        <div class="container">
        <article class="cf">
            <div id="tabs">
                <ul>
                    <li><a href="#summary_tab">Summary</a></li>
                    <li><a href="#trend_tab">Recent Trends</a></li>
                    <li><a href="#vantage_tab">Vantage Points</a></li>
                </ul>   
                <div id="summary_tab" class="tab">
                    <div class="chart chart_cont">
                        <h4>Recent Traffic</h4>
                        <div id="traffic_chart"></div>
                    </div>
                </div>
                <div id="trend_tab" class="tab">
                    <div class="cols chart_cont" id="trend_mini_cont">
                        <h4>Trending</h4>
                        <div class="col chart" style="float: left; width: 33%;">
                           <h6>Last Day</h6>
                           <div class="trend_mini_chart" id="day_trend_chart"></div>
                        </div>
                        <div class="col chart" style="float: left; width: 33%;">
                           <h6>Last Week</h6>
                           <div class="trend_mini_chart" id="week_trend_chart"></div>
                        </div>
                        <div class="col chart" style="float: left; width: 33%;">
                           <h6>All Time</h6>
                           <div class="trend_mini_chart" id="all_time_trend_chart"></div>
                        </div>
                    </div>
                </div>
                <div id="vantage_tab" class="tab">
                    <div class="chart_cont">
                        <h4>Viewpoints</h4>
                        <div class="chart" id="viewpoint_chart"></div>
                    </div>
                </div>
            </div>
        </article>
        </div>
    </section>
    <section class="call-to-action">
        <div class="cta-container cf">
            <p>Need Help? </p>
            <a class="btn" href="mailto:mgalemmo@gmail.com">Contact us!</a>
        </div>
    </section>
{% endblock %}
