{% extends "gallery/base.html" %}
{% load staticfiles %}

{% block head %}
<title>Analytics: {{ name }}</title>
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="{% static "gallery/js/graphs.js" %}"></script>
    <script type="text/javascript" src="{% static "gallery/js/exhibit.js" %}"></script>
    <script>window.timeByDay = {{ timeByDay|safe }};</script>
    <script>window.detectionWidths = {{ detectionWidths|safe }};</script>
{% endblock %}

{% block header %}
    <h1>My Analytics</h1>
    <p>What is trending in your gallery?</p>
{% endblock %}

{% block content %}
<div class="container">
    <div class="nextprev_cont">
        <form class="nextprev_form" action={{ prev }} method="GET">
            <div class="button_cont">
                <input type="submit" value="Previous"></input>
            </div>
        </form>
        <form class="nextprev_form" action={{ next }} method="GET">
            <div class="button_cont">
                <input type="submit" value="Next"></input>
            </div>
        </form>
    </div>
    <div class="cols">
        <div class="col col2">
            <header>
                <h3>{{ name }}</h3>
            </header>
            <img class="exhibit_img" src={{ thumbnail_url }}></img>
        </div>
        <div class="col col2">
            <div id="exhibit_line_chart"></div>
            <div id="exhibit_vantage_chart"><div>
        </div>
    </div>
    <div class="nextprev_cont">
        <form class="nextprev_form" action={{ prev }} method="GET">
            <div class="button_cont">
                <input type="submit" value="Previous"></input>
            </div>
        </form>
        <form class="nextprev_form" action={{ next }} method="GET">
            <div class="button_cont">
                <input type="submit" value="Next"></input>
            </div>
        </form>
    </div>
</div>
{% endblock %}
