{% extends "gallery/base.html" %}
{% block head %}
    {% load staticfiles %}
    <title>My Exhibitions</title>
{% endblock %}

{% block header %}
    <h1>My Exhibitions</h1>
    <p>Prepare your gallery space</p>
{% endblock %}

{% block links %}
    <a href="/index">Back to Home</a>&nbsp;&nbsp;&nbsp;
{% endblock %}

{% block content %}
    <header id="header">
        <h3>Open Exhibitions</h3>
    </header>
    <div class="container">
        <table style="width: 100%;">
            <thead>
                <tr>
                    <th>Exhibition Name</th>
                    <th>Start Date</th>
                    <th>Exhibits</th>
                    <th>Close</th>
                </tr>
            </thead>
            <tbody>
                {% for e in exhibitions %}
                {% if not e.end %}
                <tr>
                    <td><a href="/exhibition/{{ e.id }}/analytics/#tabs">{{ e.name }}</a></td>
                    <td>{{ e.start }}</td>
                    <td class="centered">
                        <form action="exhibition/{{ e.id }}/exhibits" method="GET">
                            <input class="view_btn" type="submit" value="Edit"></input>
                        </form>
                    </td>
                    <td class="centered">
                        <form action="exhibitions" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="close"></input>
                            <input type="hidden" name="exhibition" value={{ e.id }}></input>
                            <input class="view_btn" type="submit" value="Close"></input>
                        </form>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <form action="exhibitions" method="POST" class="django">
            {% csrf_token %}
            <div class="new_cont centered"> 
                <p>Starting Something New?</p>
                {{ newForm.name }}
                <input type="hidden" name="action" value="open"></input>
                <input type="submit" value="Open New Exhibition"></input>
            </div>
        </form>
    </div>
    <header id="header">
        <h3>Completed Exhibitions</h3>
    </header>
    <div class="container">
        <table style="width: 100%;">
            <thead>
                <tr>
                    <th>Exhbition Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Exhibits</th>
                </tr>
            </thead>
            <tbody>
                {% for e in exhibitions %}
                {% if e.end %}
                <tr>
                    <td><a href="/exhibition/{{ e.id }}/analytics/#tabs">{{ e.name }}</a></td>
                    <td>{{ e.start }}</td>
                    <td>{{ e.end }}</td>
                    <td class="centered">
                        <form action="exhibition/{{ e.id }}/exhibits" method="GET">
                            <input class="view_btn" type="submit" value="Edit"></input>
                        </form>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
