<html>
	<head> 
		{% load staticfiles %}
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
        <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
        <script type="text/javascript" src="{% static "gallery/js/home.js" %}"></script>
	</head>
    <body>
        <p>Gallery Paths. {{ template_text }}</p>
        <div>
        	ok!
        </div>
    </body>
</html>
