<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    
    <head>
        {% load staticfiles %}
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <title>Gestalt ~ Art Based Analytics</title>
        
        <!-- Meta -->
        <meta name="description" content="Gestalt is a UC Berkeley Student project, aiming to bring measurment to art interaction.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Andrew Head, Michelle Galemmo, Z Wu, Christi Gregg">
        <meta name="keywords" content="art work, art analytics, gallery measurement, sheer brilliance, cs294">
        

        <!-- Favicon.ico and apple-touch-icon.png (according to Apple docs). A good tool is http://iconifier.net/ -->
        <link rel="shortcut icon" href="{% static "assets/ico/favicon.ico" %}">
        <link rel="apple-touch-icon" href="{% static "touch-icon-iphone.png" %}" />
        <link rel="apple-touch-icon" sizes="76x76" href="{% static "touch-icon-ipad.png" %}" />
        <link rel="apple-touch-icon" sizes="120x120" href="{% static "touch-icon-iphone-retina.png" %}" />
        <link rel="apple-touch-icon" sizes="152x152" href="{% static "touch-icon-ipad-retina.png" %}" />

        <!-- CSS, Normalize First, minify for production -->
        <link rel="stylesheet" type='text/css' href="{% static "gallery/less/master.css" %}"/>
        
        <!-- Import web fonts using the link tag instead of CSS @import -->
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
        
        <!-- Icons from http://fontawesome.io/ -->
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>
                
    </head>

    <body>
        
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chrome/‎">install Google Chrome</a> to experience this site.</p>
        <![endif]-->

        
        <!-- Header -->
        <header id="main-header">
            <div class="container">
                <h1>Gestalt</h1>
                <p>Bringing measurment to art interaction.</p>
            </div>
        </header>
        
        
        <!-- First call to action -->

        <section class="call-to-action">
            <div class="cta-container cf">
                <p>Already a user? </p>
                <a class="btn" href="home">Get Working→</a>
            </div>
        </section>
        
        <!-- Macbook Section  -->
        <section id="macbook">
            <div class="container">
                <h2>What's this all about?</h2>
                <p>Designed and built by UC Berkeley Students. To see our documented process see our <a href="http://husk.eecs.berkeley.edu/courses/cs294-84-fall14/index.php/Group:Gestalt" target="_blank">CS294 Wiki</a> page.</p>
                <br>
                <br>
            </div>
        </section>

        
        <!-- Summary Section 
        <section id="summary">
            <div class="container">
                <h2>What makes Fore so great?</h2>
                <p>It's responsive, beautiful, built with the latest code, includes all front end files, and (best of all) it is and always will be free. Didn't even see that comin', didya?</p>
                <a class="btn" href="#">Button</a>
            </div>
        </section>
        -->
        
        <!-- List Section -->
        <section id="list">
            <div class="container">
                <header class="body-header">
                    <h2>The Analytics</h2>
                </header>
                <article>
                    <div class="list-row cf">
                        <div class="list-item">
                            <i class="fa fa-bullhorn fa-2x"></i>
                            <h3>Time Spent</h3>
                            <p>See how long visitors spent with each piece. Veiw breakdowns by piece, and overall averages.</p>
                        </div>
                        <div class="list-item">
                            <i class="fa fa-code-fork fa-2x"></i>
                            <h3>Visitor Mapping</h3>
                            <p>See how visitor navigate the space, interact with mapped trajectories.</p>
                        </div>
                    </div>
                    <div class="list-row cf">
                        <div class="list-item">
                            <i class="fa fa-users fa-2x"></i>
                            <h3>Compare Pieces</h3>
                            <p>Clear gaging of how visitors interacted with individual pieces, compare to find which pieces where most highly veiwed.</p>
                        </div>
                        <div class="list-item" id="last-item">
                            <i class="fa fa-wrench fa-2x"></i>
                            <h3>Viewing Heatmap</h3>
                            <p>See where visitors stood when engaging with work.</p>
                        </div>
                    </div>
                </article>
            </div>
        </section>
        
         <!-- Three Images Section -->
        <section id="three-images">
            <div class="container">
                <header class="body-header">
                    <p>Our team.</p>
                </header>
                <article class="cf">
                    <div class="img-circle-div">
                        <img src="{% static "gallery/images/circle1.jpg" %}"/>
                        <h3>Andrew</h3>
                        <p>CS PhD.</p>
                    </div>
                    <div class="img-circle-div">
                        <img src="{% static "gallery/images/circle2.jpg" %}"/>
                        <h3>Michelle</h3>
                        <p>Cog Sci, Art, & CS undergrad.</p>
                    </div>
                    <div class="img-circle-div">
                        <img src="{% static "gallery/images/circle3.jpg" %}"/>
                        <h3>Zhiwei</h3>
                        <p>MechE PhD.</p>
                    </div>
                    <div class="img-circle-div">
                        <img src="{% static "gallery/images/circle4.jpg" %}"/>
                        <h3>Christine</h3>
                        <p>MechE PhD.</p>
                    </div>
                </article>
            </div>
        </section>
        
        
        <!-- call to action -->
        <section class="call-to-action cta-2">
            <div class="cta-container cf">
                <p>Want to learn more?</p>
                <a class="btn" href="mailto:mgalemmo@gmail.com">Email us!</a>
            </div>
        </section>
        
        
        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="social-boat">
                    <div class="gplus">
                        <!-- Place this tag where you want the +1 button to render. -->
                        <div class="g-plusone"></div>

                        <!-- Place this tag after the last +1 button tag. -->
                        <script type="text/javascript">
                            (function() {
                                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                                po.src = 'https://apis.google.com/js/plusone.js';
                                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                            })();
                        </script>
                        </div>
                    <div class="twitter">
                        <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </div>
                    <div class="facebook">
                        <div id="fb-root"></div>
                        <script>(function(d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s); js.id = id;
                            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));</script>
                        <div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                    </div>
                </div>
                <div id="footer-text" class="small">
                <p>&copy; Gestalt 2014 | Made with love at Cal</p>
                </div>
            </div>
        </footer>


        <!-- Reference jQuery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static "gallery/js/vendor/jquery-1.10.2.min.js" %}"><\/script>')</script>
        
        <!-- Reference Javascript, minify for production -->
        <script type="text/javascript" src="{% static "gallery/js/jquery.event.move.js" %}"></script>
        <script type="text/javascript" src="{% static "gallery/js/jquery.event.swipe.js" %}"></script>
        <script type="text/javascript" src="{% static "gallery/js/unslider.min.js" %}"></script>
        
        <!-- Unslider script -->
        <script>
            $(document).ready(function () {
                var unslider = $('.slider').unslider();
                $('.unslider-arrow').click(function(event) {
                    event.preventDefault();
                    if ($(this).hasClass('next')) {
                        unslider.data('unslider')['next']();  
                    } else {
                        unslider.data('unslider')['prev']();  
                    };
                });
                var unslider = $('.slider').unslider();

                unslider.on('movestart', function(e) {
                    if((e.distX > e.distY && e.distX < -e.distY) || (e.distX < e.distY &&   e.distX > -e.distY)) {
                        e.preventDefault();
                    }
                });
        });
        </script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
        
    </body>

</html>
