[program:{{ appname }}]
command=/bin/bash -c "source {{ venv }}/bin/activate; exec gunicorn {{ appname }}.wsgi --bind 127.0.0.1:{{ localport }};"
directory={{ djdir }}
environment=DJANGO_SETTINGS_MODULE="{{ djsettings }}"
