/* Containers */
body {
  padding-bottom: 80px;
}

.cols {
  width: 100%;
}

.col {
  margin-top: 0px;
  float: left;
  display: block;
}

.col2 {
  width: 50%;
}

#exhibit_chart_col {
  margin-top: 10px;
}

#exhibit_chart_col .chart {
  margin-top: 20px;
}

div.centered {
  width: 100%;
  text-align: center;
}

div.new {
  margin-top: 10px;
}

.banner {
  overflow: auto;
  border: 2px dashed green;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.banner #hidden_left {
  float: left;
  width: 20%;
}

.banner .header {
  float: left;
  width: 60%;
  font-size: 32px;
  text-align: center;
}

#tabs {
  margin-top: 20px;
  margin-bottom: 40px;
}

.tab {
  height: 400px;
}

#tabs li {
  font-size: 14px;
  font-family: sans-serif;
}

#trend_mini_cont {
  margin-top: 20px;
}

div#exhibit_line_chart {
  width: 95%;
  display: block;
  margin: 0 auto;
  height: 200px;
}

div#exhibit_vantage_chart {
  width: 95%;
  display: block;
  margin: 0 auto;
  height: 120px;
}

/* Tables */
table {
  width: 100%;
}

table, th, td {
  border: 1px solid gray;
}

td {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

td.centered {
  text-align: center;
}

tbody tr:nth-child(odd) {
  background: #eee;
}

tbody tr:nth-child(even) {
  background: white;
}

table input[type="submit"] {
  width: 70%;
  display: block;
  margin: auto;
}

/* Forms */
form.django input[type="text"] {
  width: 30%;
}

form.django input[type="number"] {
  display: block;
  margin: auto;
  width: 100px;
}

form.django input[type="file"] {
  width: 50%;
  height: 20px;
  line-height: 10px;
  font-size: 16px;
  display: block;
  margin: auto;
  margin-top: 10px;
}

.save_btn {
  width: 40%;
  display: block;
  margin: auto;
  margin-top: 20px;
}

img.thumbnail {
  height: 70px;
  display: block;
  margin: auto;
}

.nextprev_cont {
  clear: both;
  width: 80%;
  margin: auto;
  padding-top: 20px;
}

form.nextprev_form {
  display: block;
  float: left;
  width: 50%;
}

form.nextprev_form input[type="submit"] {
  width: 40%;
}

form.nextprev_form .button_cont {
  width: 100%;
  text-align: center;
}

/* Content */
img.exhibit_img {
  width: 90%;
  display: block;
  margin: 0 auto;
}

p.error {
  color: red;
}

p.links {
  width: 60%;
  float: left;
  text-align: center;
}

p.hiddenright {
  width: 10%;
  float: left;
  margin-right: 40px;
}

p.loginout {
  float: left;
  width: 20%;
  text-align: left;
  margin-left: 40px;
}

#exhibit_line_chart text {
  font-size: 8px;
}

/* Fore components */
#traffic_chart {
  height: 300px;
}

#viewpoint_chart {
  height: 300px;
}

.trend_mini_chart {
  height: 200px;
}

.graph_div {
  width: 100%;
}

#dwell_chart {
  height: 200px;
}

.axis text {
  font-size: 12px;
}

.chart_label {
  font-size: 16px;
}

.chart h6, .chart h4, .chart_cont h4 {
  text-align: center;
  font-family: sans-serif;
  margin-bottom: 0px;
}

.chart_cont h4 {
  margin-top: 30px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

/* D3 Graphics */
.node {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.link {
  stroke: steelblue;
  stroke-opacity: .4;
  fill: none;
}
