/* Components */
table {
  width: 100%;
}

table, th, td {
  border: 1px solid gray;
}

td {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

td.centered {
  text-align: center;
}

tbody tr:nth-child(odd) {
  background: #eee;
}

tbody tr:nth-child(even) {
  background: white;
}

table input[type="submit"] {
  width: 70%;
  display: block;
  margin: auto;
}

.save_btn {
  width: 40%;
  display: block;
  margin: auto;
  margin-top: 20px;
}

img.thumbnail {
  height: 70px;
  display: block;
  margin: auto;
}

from.django input[type="text"] {
  width: 100%;
}

form.django input[type="number"] {
  display: block;
  margin: auto;
  width: 100px;
}

form.django input[type="file"] {
  width: 50%;
  height: 20px;
  line-height: 10px;
  font-size: 16px;
  display: block;
  margin: auto;
  margin-top: 10px;
}

div.centered {
  width: 100%;
  text-align: center;
}

div.new {
  margin-top: 10px;
}

.banner {
  overflow: auto;
  border: 2px dashed green;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.banner #hidden_left {
  float: left;
  width: 20%;
}

.banner .header {
  float: left;
  width: 60%;
  font-size: 32px;
  text-align: center;
}

.banner p.loginout {
  float: right;
  width: 50%;
  text-align: right;
  margin-right: 40px;
}

#tabs {
  margin-top: 20px;
}

.tab {
  height: 1100px;
}

#trend_mini_cont {
  margin-top: 20px;
}

/* Content */
p.error {
  color: red;
}

/* Containers */
.col {
  margin-top: 0px;
}

/* Fore components */
#traffic_chart {
  height: 200px;
}

#viewpoint_chart {
  height: 400px;
}

.trend_mini_chart {
  height: 200px;
}

.graph_div {
  width: 100%;
}

#dwell_chart {
  height: 200px;
}

.axis text {
  font-size: 12px;
}

.chart_label {
  font-size: 16px;
}

.chart h6, .chart h4, .chart_cont h4 {
  text-align: center;
  font-family: sans-serif;
  margin-bottom: 0px;
}

.chart_cont h4 {
  margin-top: 30px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

/* D3 Graphics */
.node {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.link {
  stroke: steelblue;
  stroke-opacity: .4;
  fill: none;
}
